<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDboW_m69CTQSBFxo2uLbiIwG1QBIjTGBA</string>
	<key>GCM_SENDER_ID</key>
	<string>336575682358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fmmobile.stockswallet</string>
	<key>PROJECT_ID</key>
	<string>tradewallet-69c07</string>
	<key>STORAGE_BUCKET</key>
	<string>tradewallet-69c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336575682358:ios:e4351b8ff9e0d6fdbbc597</string>
	<key>DATABASE_URL</key>
	<string>https://tradewallet-69c07.firebaseio.com</string>
</dict>
</plist>